:root {
  --primary: #1a5ac1;
  --background: #010101;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #00183f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
  -moz-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#menu {
  display: none;
}

/* Hero Section Start */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("image/jeff-hopper-iCtJF-A5hvs-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 15, 1) 1%,
    rgba(255, 255, 255, 0) 75%
  );
}

.hero .content {
  padding: 1.4rem 2%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4.5em;
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px 5px rgba(1, 1, 1, 0.8);
  line-height: 1.2;
}

.hero .content h1 span {
  color: #92bcff;
}

.hero .content p {
  font-size: 1.3rem;
  margin-top: 1rem;
  line-height: 1.2;
  font-weight: 200;
  text-shadow: 3px 3px 5px rgba(1, 1, 1, 0.8);
  text-align: center;
}

.hero .content a {
  color: #92bcff;
  font-weight: 600;
  font-style: italic;
}

/* Hero Section End */

/* About Section Start */

.about {
  min-height: 100vh;
  padding: 8rem 0% 1.4rem;
  background-image: url("image/Sineas1.jpg");
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.about::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 15%;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 15, 1) 1.5rem,
    rgba(255, 255, 255, 0) 75%
  );
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  text-shadow: 3px 3px 5px rgba(1, 1, 1, 0.8);
}

.about h2 span {
  color: #92bcff;
}

.about .row {
  display: flex;
  padding: 0rem 7% 0rem;
}

.about .row .about-img {
  flex: 1 1 35rem;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  box-shadow: 0 1px 64px rgba(1, 1, 1, 0.5);
}

.about .row .content {
  flex: 1 1 30rem;
  padding: 0 1rem;
  text-shadow: 5px 5px 5px rgba(1, 1, 1, 1);
}

.about .row .content h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 125;
  line-height: 1.6;
}

.about .row .content span {
  font-style: italic;
  font-weight: 250;
}

.about .content a {
  color: #92bcff;
  font-weight: 600;
  font-style: italic;
}

/* About Section End */

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--background);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
    -webkit-transform: scaleX(0.3);
    -moz-transform: scaleX(0.3);
    -ms-transform: scaleX(0.3);
    -o-transform: scaleX(0.3);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 20rem;
    object-fit: cover;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
